.DS_Store
.env
.env.\*
/.svelte-kit
/archive/
/build
/package
/static/\_\_public/whisper/
node_modules
package-lock.json
pnpm-lock.yaml
src/lib/vendor/
src/routes/dev/
yarn.lock

# negative ignores last

!.env.example
